<section class="relative isolate px-6 pt-14 lg:px-8">
  <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-30">
    <div class="text-center">
      <h1 class="text-7xl font-bold text-gray-900">
        Creamos soluciones informáticas de valor
      </h1>
      <h2 class="text-3xl font-normal text-primary">
        Expertos en desarrollo de software a la medida
      </h2>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <button class="btn btn-outline btn-primary">
          Trabajemos juntos
        </button>
        <button class="btn btn-primary">
          Conoce nuestro trabajo
        </button>
      </div>
    </div>
  </div>
</section>