<section class="hero px-6 pt-14 pb-2.5 lg:px-8">
  <div class="hero-content max-w-4xl mx-auto py-10 sm:py-28 lg:py-30">
    <div class="text-center">
      <h1 class="prose text-pretty text-xl sm:text-3xl md:text-5xl lg:text-7xl font-bold text-gray-900">
        Creando soluciones informáticas de valor
      </h1>
      <h2 class="prose text-pretty text-lg sm:text-xl md:text-2xl lg:text-3xl font-normal text-primary">
        Más de 10 de experiencia nos respaldan
      </h2>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <button class="btn btn-outline btn-primary rounded-full">
          Trabajemos juntos
        </button>
        <button class="btn btn-primary rounded-full">
          Conoce nuestro trabajo
        </button>
      </div>
    </div>
  </div>
</section>