---
import logoFull from '@assets/logo-full.svg';
import MobileMenu from '@components/header/MobileMenu.astro';

const PAGES = [
  { title: 'Apps', path: 'apps' },
  { title: 'Software', path: 'software' },
  { title: 'Diseño UX/UI', path: 'design' },
  { title: 'Servidores VPS', path: 'servers' },
  { title: 'Precios', path: 'prices' }
] as const
---
<header class="navbar w-full">
  <div class="navbar-start">
    <a href="/" class="m-1.5 p-1.5">
      <span class="sr-only">Sinntec Innovación Tecnológica</span>
      <img class="h-11" src={ logoFull.src } alt="Logo Sinntec">
    </a>
  </div>
  <div class="navbar-center">
    <nav class="hidden md:flex lg:flex lg:gap-2.5">
      {
        PAGES.map(item => {
          return ( 
            <a class="link text-xl font-normal no-underline hover:text-primary p-2.5" href={ item.path }>
              { item.title }
            </a>
          );
        })
      }
    </nav>
  </div>
  <div class="navbar-end flex justify-end lg:justify-around">
    <!-- contact button -->
    <button class="hidden lg:block btn btn-outline btn-primary rounded-full">
      Trabajemos juntos
    </button>
    <!-- hamburguer button -->
    <button type="button" class="link mr-6 lg:mr-0">
      <span class="sr-only">Open main menu</span>
      <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
  </div>
</header>