<footer class="bg-[#fafafa]">
  <div>
    <a :tel="5559257514">55 5925 7514</a>
    <a :email="contact@sinntec.com.mx">contact@sinntec.com.mx</a>
    <a href="#">Polanco V Sección, CDMX</a>
  </div>
  <p>© Copyright 2022. Designed by Sinntec Innovación Tecnológica S.A. de C.V.   Aviso de Privacidad |Términos y Condiciones</p>
</footer>